body{
    background-color: rgb(0, 0, 0);
}

/*color letras*/
$color-letra: rgb(217, 0, 246);
.container{
    height: 150px;
    width: 100%;
    
}
/*Datos mundiales*/
.main1{
    width: 100%;
    height: 400px;
    background-color: rgb(244, 169, 94);
}


/*Texto bienvenida main*/
.main{
    width: 100%;
    height: auto;
    background-color: rgb(246, 226, 97);
}

.text-start{
    color: $color-letra;
    font-size: xx-large;
    text-align: center;
}

.text-center{
    text-align: center;
    color: $color-letra;
}

/*seccion*/
.text-center1{
    text-align: center;
    color: $color-letra;
    margin: -20%;
    margin-left: 1%;
    .text-center2{
        text-align: center;
        color: $color-letra;
        margin: 20%;
        margin-left: 40%;
    }
}

/*Contenedores lideres*/
.container-giuli{
    height: auto;
    width: 100%;
    text-align: center;
}
.contacto{
    height: auto;
    text-align: center;
}
